@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Samson';
    src: url('/fonts/graphigem/Samson_Thin.ttf') format('truetype'), url('/fonts/graphigem/Samson_Thin.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Samson';
    src: url('/fonts/graphigem/Samson_Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Samson';
    src: url('/fonts/graphigem/Samson_Thin.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Samson';
    src: url('/fonts/graphigem/Samson_Bold.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Samson';
    src: url('/fonts/graphigem/Samson_Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Samson';
    src: url('/fonts/graphigem/Samson_Regular.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}