html {
  font-family: "Readex Pro", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  body {
    font-family: "Readex Pro", sans-serif !important;

    .text-h1,
    .text-h2,
    .text-h4,
    .text-h4,
    .text-subtitle {
      white-space: normal;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    br {
      font-family: "Readex Pro", sans-serif !important;
      padding-bottom: 1rem;
    }

    .v-card-subtitle {
      opacity: 0.96;
    }

    .text-h1 {
      font-family: "Samson", sans-serif !important;
      font-style: normal;
    }
    
    .text-h2 {
      font-family: "Samson", sans-serif !important;
      font-style: normal;
      font-size: 3rem !important;
      line-height: 3.25rem;

      @media only screen and (max-width: 960px) {
        font-size: 2rem !important;
        line-height: 2.15rem;
      }
    }
    .text-h3 {
      font-family: "Samson", sans-serif !important;
      font-style: normal;
      font-size: 2.4rem !important;

      @media only screen and (max-width: 960px) {
        font-size: 1.5rem !important;
        line-height: 2rem;
      }
    }
    .text-h4 {
      font-family: "Samson", sans-serif !important;
      font-style: normal;
      font-size: 1.5rem !important;
      padding: 0;

      @media only screen and (max-width: 960px) {
        font-size: 1.2rem !important;
        line-height: 1.5rem;
      }
    }

    .text-light {
      font-family: "Samson", sans-serif !important;
      font-style: normal;
      font-size: 1.25rem !important;

      @media only screen and (max-width: 960px) {
        font-size: 1rem !important;
        line-height: 1rem;
      }
    }

    .text-subtitle {
      font-family: "Readex Pro", sans-serif !important;
      font-style: normal;
      font-size: 1.15rem;
      line-height: 2rem !important;
      padding-top: 0;
      padding-bottom: 0;
      padding: 1rem 0;

      @media only screen and (max-width: 960px) {
        padding: 0;
      }
    }

    .v-card-title {
      font-family: "Samson", sans-serif !important;
      font-style: normal;
      padding: 1rem 0 1rem;

      @media only screen and (max-width: 960px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .v-card-subtitle {
      font-family: "Readex Pro", sans-serif !important;
      font-style: normal;
      font-size: 1.2rem;
      line-height: 2rem !important;
      white-space: pre-wrap !important;
      padding: 1rem 0 1rem;

      @media only screen and (max-width: 960px) {
        padding: 0.5rem 0;
      }
    }

    .v-card-text {
      font-family: "Readex Pro", sans-serif;
      font-size: 0.9rem;
      line-height: 1.5rem !important;
      padding: 1rem 0;

      @media only screen and (max-width: 960px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .v-btn__content {
      font-family: "Readex Pro", sans-serif;
      font-size: 0.75rem;
    }

    .text-center-sm-and-down {
      @media only screen and (max-width: 960px) {
        text-align: center !important;
      }
    }
  }
}
